$background:#f2f8f9;
$bluetext:#19b5fe;
$textblue:#19b5fe;
$textwhite: #ffffff;
$textgray: #464646;
$titlegray: #363636;
$buttoncolor: #32a8df;
$RobotoBold: 'Roboto-Bold';
$RobotoRegular: 'Roboto-Regular';
$RobotoLight: 'Roboto-Light';
$RobotoMedium: 'Roboto-Medium';

